.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0145ff;
}

.mission {
  background: white;
  color: #0a0b0d;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7.5vw;
}

.moto {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, .75);
  padding: 0;
  font-weight: 400;
}

.dot {
  color: #0145ff;
}

.icons {
  width: 100%;
  border-radius: 25px;
}

.row {
  padding: 0; margin: 0;
}

.icons:hover {
  transform: scale(1.1);
}

.col {
  display: grid;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .content {
    margin-bottom: 35px;
  }
  .icons {
    width: 80%;
    border-radius: 15px;
  }
}

@media (max-width: 576px) {
  .content {
    margin-bottom: 25px;
  }
  .mission {
    grid-template-columns: 1fr;
  }
  .icons {
    border-radius: 15px;
  }
  .moto {
    font-size: 1rem;
  }
}