h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.products {
  background: #0a0b0d;
  color: white;
  padding: 0 5% 2% 5%;
}

.product {
  padding: 0 0 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 50vw;
      grid-template-columns: 40vw 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productImg {
  -ms-grid-column-align: right;
      justify-self: right;
  height: 75vh;
}

.productImg1 {
  -ms-grid-column-align: left;
      justify-self: left;
  height: 75vh;
}

.product {
  padding-right: 25%;
}

.content {
  padding-right: 35%;
}

.content1 {
  padding-right: 35%;
  -ms-grid-column-align: left;
      justify-self: left;
}

.title {
  font-size: 2.75rem;
}

.text {
  opacity: .75;
  margin: 20px 0 40px 0;
}

.dot {
  color: #6db4f2;
}

.icon {
  padding-right: 10px;
}

.btnPrimary {
  padding: 10px 25px;
  border-radius: 100px;
  background: #6db4f2;
  color: white;
  font-weight: 600;
  margin-right: 30px;
}

.btnWhite {
  padding: 10px 25px;
  border-radius: 100px;
  background: white;
  color: black;
  font-weight: 600;
}

.sectionTitle {
  font-size: 4rem;
  width: 100%;
  letter-spacing: 5px;
  font-weight: 700;
}

.hr {
  margin: 25px 0 65px 0;
  width: 10%;
  border: 2.5px solid #6db4f2;
  background-color: #6db4f2;
  border-radius: 25px;
}