.infos {
  margin: 50px 0 25px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 7.5vw;
  align-items: center;
  height: fit-content;
  color: white;
}

.content {
  padding-right: 25%;
}

.infos img {
  width: 100%;
  justify-self: left;
}

.title {
  font-size: 2.75rem;
}

.text {
  opacity: 0.75;
  margin: 20px 0 30px 0;
}

.dot {
  color: #26d0ce;
}

.icon {
  padding-right: 10px;
}

.btns {
  display: flex;
}

.btnPrimary {
  padding: 10px 25px;
  border-radius: 100px;
  background: black;
  color: white;
  font-weight: 600;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.btnWhite {
  padding: 10px 25px;
  border-radius: 100px;
  background: white;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.icon {
  font-size: 1.5rem;
}

.group {
  position: relative;
  grid-column: 2;
  grid-row: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

@media (max-width: 576px) {
  .infos {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .icon {
    font-size: 1.2rem;
  }
  .btnWhite, .btnPrimary {
    font-size: .75rem;
  }
  .content {
    padding-right: 0;
  }  
}