h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  padding: 5% 5% 2% 5%;
  background: #0a0b0d;
  color: white;
}

.company {
  padding-right: 20%;
}

.company img {
  width: 100%;
  margin-bottom: 15px;
}

.companyText {
  font-size: 1.15rem;
  font-weight: 400;
  opacity: 0.75;
}

.social-media i {
  margin-right: 10px;
  font-size: 1.25rem;
}

.section {
  letter-spacing: 1.15;
}

.smallTitle {
  font-weight: 700;
  font-size: 1.45rem;
}

.links {
  padding-top: 20px;
}

.links a {
  color: white;
  opacity: 0.5;
  display: block;
  font-size: 1.2rem;
}

.links a:hover {
  opacity: 1;
}

.dot {
  color: #f2055c;
}

.hr {
  margin: 20px 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.copyright {
  font-size: 1.05rem;
  opacity: 0.8;
  font-weight: 400;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
  }
}

@media (max-width: 576px) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .company img {
    width: 100%;
  }
  .smallTitle {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  .links a {
    font-size: 1rem;
  }

  .companyText {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.75;
  }
  footer {
    padding: 10% 5% 2% 5%;
    background: #0a0b0d;
    color: white;
  }
  
}
