/* 
.nav {
    overflow: hidden;
   
  }
/* div {
    background-color: #0A0B0D;
    height: 80px;
} */
/* ul {
    list-style-type:none;
    margin-left: 34%;
}
.logo {
    width: 25px;
    height: 25px;
} 

ul li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
}

.buy {
    border: 1px solid white;
    border-radius: 25px;
    width: 102px;
    height: 40px;

} */
