h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.card {
  display: -ms-grid;
  display: grid;
  background-position: center;
  background-size: contain;
}

.desc {
  background: white;
  color: black;
  text-align: center;
  padding: 25px 0;
  margin: 0 25px;
}

.imagespace {
  margin: 0 25px;
}

.name {
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.lname {
  font-weight: 700;
  text-transform: uppercase;
}

.team {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
}

.sectionTitle {
  color: white;
  font-size: 4rem;
  width: 65%;
  letter-spacing: 5px;
  font-weight: 700;
}

.hr {
  margin: 25px 0 45px 0;
  width: 10%;
  border: 2.5px solid #6db4f2;
  background-color: #6db4f2;
  border-radius: 25px;
}

.teamContainer {
  background: #0a0b0d;
  color: white;
  padding: 0 5% 5% 5%;
}