h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.card {
  display: -ms-grid;
  display: grid;
  width: 100px;
  height: 355px;
  background-position: center;
  background-size: contain;
  margin: 0 100px;
}

.desc {
  background: white;
  color: black;
  text-align: center;
  padding: 15px 0;
}

.name {
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.lname {
  font-weight: 700;
  text-transform: uppercase;
}

.team {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
}

.test {
  height: 50px;
  width: 50px;
  background-color: blueviolet;
}