.nav {
  margin: 0;
  padding: 15px 5%;
  background-color: #1A2980;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.logo {
  height: 1.5rem;
}

.links {
  justify-content: flex-end;
}

.link {
  margin: 10px 0 10px 40px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  opacity: .75;
}

.menuDark {
  background-image: url("./menudark.svg");
  background-position: center;
  background-size: 100%;
  padding: 10px;
  outline: white;
}

.link:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 1024px) {
  .link,
  .btnbuy {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 1rem;
  }
  .nav {
    padding: 15px 10%;
  }
}