body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2% 5%;
  }
  
  .logo {
    height: 1.5rem;
  }
  
  .link {
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .btnbuy {
    text-decoration: none;
    font-size: 1rem;
    border: 1.5px solid #F2055C;
    background: transparent;
    color: #F2055C;
    padding: 5px 30px;
    border-radius: 50px;
    margin-left: 20px;
  }
  
  .btnbuy:hover {
    background: #F2055C;
    color: white;
    transition: .5s;
  }