.nav {
  margin: 0;
  padding: 15px 5%;
}

.logo {
  height: 1.5rem;
}

.links {
  justify-content: flex-end;
}

.link {
  margin: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  opacity: .75;
}

.link:hover {
  color: black;
  opacity: 1;
}

.btnbuy {
  text-decoration: none;
  font-size: 1.2rem;
  border: 1.5px solid #f2055c;
  background: transparent;
  color: #f2055c;
  padding: 5px 30px;
  border-radius: 50px;
  margin-left: 20px;
  width: fit-content;
}

.btnbuy:hover {
  background: #f2055c;
  color: white;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .link,
  .btnbuy {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 1rem;
  }
}